PORT=3000
PUBLIC_BASE_URL=http://localhost:3000

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=localstack
AWS_SECRET_ACCESS_KEY=localstack
AWS_ENDPOINT_URL=http://localstack.lvh.me:4566
WALLET_DOCUMENTS_TABLE=wallet-documents
